// Include the parameters configuration file 
includeConfig "$launchDir/params.config"

// Add a profile for docker
profiles {
    conda { params.enable_conda = true }

    docker {
        // Enabling docker 
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }
}


